astpretty[typed]
bump2version
click_completion
colorama
colorlog
dataclass_factory
decorator
devtools
distro
dpath
environs
furl
gitpython
icecream
intervaltree
jsonpickle
more-itertools
nested-lookup
pandas
pip
psutil
pydantic
pymongo[tls]
python-box[all]
rich
semver
setuptools
shell_proc
shellingham
tenacity
twine
types-click
types-decorator
types-docutils
types-ipaddress
types-nmap
types-PyYAML
types-requests
types-singledispatch
types-toml
types-typing-extensions
typing_json
typer[all]
verboselogs
wakatime
wheel
